@font-face {
    font-family: party;
    src: url(font.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: party,"Segoe UI","Helvetica Neue",sans-sans;
}




section{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90vh;
}


#connection{
    align-items: center;
    justify-content: center;
}

#connection form{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#connection input{
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: 1em;

    box-sizing: border-box;
}








main{
    width: 100%;
    height: 90vh;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.circles{
    position: relative;
    width: 100px;
    height: 100px;
}

#scanButton span, #scanningPage span{
    position: absolute;
    top: 25px;
    left: 25px;

    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    
    background: rgb(244,84,49);
    background: linear-gradient(10deg, rgba(244,84,49,1) 30%, rgba(255,205,0,1) 100%);
}

main h1{
    font-size: 1.2em;
    text-align: center;

    background: rgb(244,84,49);
    background: linear-gradient(10deg, rgba(244,84,49,1) 0%, rgba(255,205,0,1) 100%);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}





#scanningPage span{
    z-index: 3;
    background: rgb(244,84,49);
}

#scanningPage span:nth-child(2){
    z-index: 2;
    transform: scale(1.5) translateY(-5px);
    background: rgb(255, 194, 163);

    animation: 1s pulse1 ease-in-out forwards infinite;
}

#scanningPage span:nth-child(3){
    z-index: 1;

    transform: scale(2) translateY(-6px);
    background: rgb(255, 246, 232);
    
    animation: 1.05s 100ms pulse2 ease-in-out forwards infinite;
}

@keyframes pulse1{
    0%{
        transform: scale(1.5) translateY(-5px);
    }
    50%{
        transform: scale(1.6) translateY(-6px);
    }
    100%{
        transform: scale(1.5) translateY(-5px);
    }
}

@keyframes pulse2{
    0%{
        transform: scale(2) translateY(-6px);
    }
    50%{
        transform: scale(2.1) translateY(-7px);
    }
    100%{
        transform: scale(2) translateY(-6px);
    }
}











#resultsPage span{
    display: inline;
}

#resultsPage h1{
    transform: translateY(var(--titletranslate)) scale(var(--titlescale));
    animation: 200ms animresults2 forwards cubic-bezier(.18,.89,.32,1.28);
}

#resultsPage h1 span:nth-child(1){
    font-size: 3em;
    vertical-align: -12px;
}

#resultsPage p{
    font-size: 0.8em;
    opacity: 0;
    color: #fa885d;
    animation: 50ms 150ms animresults2 forwards cubic-bezier(.08,.82,.17,1);
}

#drinkType{
    font-size: 1.5em;
    color: transparent;
    background: linear-gradient(10deg, rgba(244,84,49,1) 0%, rgba(255,205,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

#resultsPage button{position: fixed;
    bottom: 10px;
    width: calc(100% - 20px);
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    background: linear-gradient(6deg, rgb(244, 84, 49) 0%, rgb(255, 176, 128) 100%);
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 0.8em;
}

#super{
    font-size: 0.8em;
    vertical-align: 30px;
}

@keyframes animresults2{
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}